@charset "utf-8";
/* CSS Document */

html{
height:100%;
}
body{

height:100%;

}

#main{
	position:relative;
	font:  16px '微軟正黑體';
	margin: 0 auto;
	width:1280px;
	height:100%;
}

#top{
	position: relative;
	margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
	height:140px;
	background-color: #6699CC;
	border-right:5px solid #99CCFF;
	border-left:5px solid #99CCFF;
	border-top:5px solid #99CCFF;
	border-bottom:5px solid #99CCFF;
    margin-top: 10px;
    width: 90%;
}



#middle{
	position: relative;
	margin: 0 auto;
    min-height:560px;
	border-right:3px solid #0099cc;
	border-left:3px solid #0099cc;
	border-top:3px solid #0099cc;
	border-bottom:3px solid #0099cc;
	border-radius: 10px 10px 10px 10px;
	width: 90%;
}

#footer{
	position: relative;
	margin: 0 auto;
	background-color: #99CCFF;
	border-radius: 10px 10px 10px 10px;
	background-color: #6699CC;
	border-right:5px solid #99CCFF;
	border-left:5px solid #99CCFF;
	border-top:5px solid #99CCFF;
	border-bottom:5px solid #99CCFF;
	text-align:center;
	width: 90%;
}

h1{
color:#005DBE;

}

h3{
color:#005DBE;

}

a:link
{
color: white;
font-weight: bold;
}
        /* 已連結過 */
a:visited
{
color: #77DDFF;
font-weight: bold;
}

a:hover
{
color: #F3E7E7;
font-weight: bold;
}

fieldset {
border: solid 1px #999;
border-radius:10px;
padding: 1em;
margin: 1em 0;
width:80%;
margin:0 auto;

}

legend{


display: block;
font-weight: bold;
font-size: 1.4em;
color: #000;

}

#announce{
margin:10px;

}

#img{
	padding-top:  10%;
    padding-left:  4%;
    padding-right: 4%;
    width: 25%;
/*     padding-top: 100px;*/
}
